.container {
    width: 900px;
    margin: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

